../../../.idea/
../../../1.2. Site For Import/
../../../main.py
../../.idea/
../../1.2. Site For Import/
../../DZ1_7_1/
../../DZ_1_7_3/
__pycache__/
../../NeuroStartUp/
../../all_dz_1_8_____/
../../allcars_gpt/
../../clon/
../../clon1/
../../djangoProject/
../../djangoProject1/
../../dz.git.3.3/
../../dz1_11/
../../dz1_7_1/
../../dz1_7_op/
../../git-2-homeworks-revert/
../../gitdz3.2/
../../ispr/
../../porfolio/
../../pythonProject/
../../../test uptr/
